 /* * {
    border: 2px dotted rgb(255, 238, 7);
}  */
@media (max-width: 599px){
    body{
        display: flex;
        flex-direction: column;
    }
    header{
        font-family: 'Orbitron', sans-serif;
        border: dashed rgb(0,0,0 ) 2px;
        padding: 15px;
        border-radius: 3px;
        box-shadow: 0px -5px 20px 1px rgb(255, 253, 157);
        font-size: 32px;
        margin: 40px;

        
        
        
    }
    .navigation {
        font-family: 'Orbitron', sans-serif;
        height: 200px;
        width: 150px;
        padding: 1px 1px;
        float: left;
        display: flex;
        flex-direction: row;
        position:sticky;
        font-size: 1em;
        margin-left: 20px;
        margin-top: 220px;
        padding-right: 20px;
    
    }
}
    

body{
    color: rgb(236, 236, 236);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    cursor: url('../images/tree.png'), auto;
    
    
}
#background {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
    display:fixed;
    
}
.container {
    display: inline;
    
}

.hidden{
    display:none;
}
header{
    font-family: 'Orbitron', sans-serif;
    border: dashed rgb(0,0,0 ) 2px;
    padding: 15px;
    border-radius: 3px;
    /* box-shadow: 0px -5px 20px 1px rgb(255, 253, 157); */
    font-size: 32px;
    margin: 40px;
    margin-left: 17%
    
    
}
.lighting{
    width:20px;
    height:1px;
    background: white;
    position: 50%;
    top: 0%;
    
    
}
.title{
    text-align: center;
}

.navigation {
    font-family: 'Orbitron', sans-serif;
    height: 200px;
    width: 150px;
    padding: 1px 1px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position:sticky;
    font-size: 1em;
    margin-left: 20px;
    margin-top: 220px;
    padding-right: 20px;

}


ul{
    list-style-type: none;
    gap: 20px 0px;
    flex-direction: column;
    display: flex;
    padding: 10px;
    padding-right: 1px;
    background: rgb(46, 46, 46..1);
    
}
li{
    background: rgb(46, 46, 46);
    border: groove 3px rgba(87, 87, 87, 0.75);
    text-align: center;
    box-shadow: inset .07em .09em rgb(122, 122, 122);
    
}
#slideshow{
    font-size: .75em;
    padding: 6px ;
}
#songs:hover {
    color: rgb(255, 105, 105);
    cursor: url('../images/tree.png'), auto;
}
#slideshow:hover {
    color: rgb(255, 105, 105);
    cursor: url('../images/tree.png'), auto;
}
a:link {
    text-decoration: none; 
    color:white;
    
}
a:visited {
    color: white;
}
a:active{
    color: white;
}
a:hover {
    color: rgb(255, 105, 105);
    cursor: url('../images/tree.png'), auto;
}

#modalOn:hover {
    color: rgb(255, 105, 105);
    /* cursor: pointer; */
}

button {
    transition-duration: 0.5s;
}

button:hover {
    color: rgb(255, 105, 105);
}



#modal {
    background-color: rgba(0,0,0, .9);
    position: fixed;
    top: 0%;
    left: 15%;
    height: 75%;
    width: 75%;
    z-index: 1;
    overflow: auto;
    display: none;
    border: groove rgb(255, 253, 157);
    justify-content: center;
    padding: 250px 50px;
    animation: innerGlow 7s linear infinite;
    
}
#modaltextbox {
}

#modal-footer {
        justify-content: bottom;
}
.main{
    background: rgb(36, 36, 36, .75);
    background-image: url("../images/brick.png");
    display: flex;
    height: 650px;
    font-size: .75em;
    flex-wrap: wrap;
    width: 70%x;
    float:center;
    border-radius: 15px;
    margin-left: 10%;
    /* box-shadow: 0px -5px 20px 1px rgb(255, 253, 157); */
    animation:  glow 7s linear infinite;
    

}

.main p {
    padding: 150px 100px;
    font-size: 1.8em
    
}

.language {
    max-height: 100px;
    padding-left: 300px;
    filter: blur(2px);
    animation:  movement 4s linear infinite;    
    
}
@keyframes movement {
    0% {
        padding-left: 0px;
        transform: rotate(0deg);
        opacity:0%
    }
    10%{
        padding-left: 100px;
        transform: rotate(3deg);
   }
    25%{
        padding-left: 250px;
        transform: rotate(-3deg);
        opacity:1
   }
    45%{
        padding-left: 400px;
        transform: rotate(3deg);
   }
    60%{
        padding-left: 500px;
        transform: rotate(-2deg);
   }
    75%{
        padding-left: 600px;
        transform: rotate(3deg);
   }
        
    100%{
        padding-left: 650px;
        opacity: 0%;
   }
    
}
@keyframes glow{
    0% {
        box-shadow: 0px -5px 0px 5px rgb(255, 253, 157);
    }
    10%{
        box-shadow: 0px -5px 20px 5px rgb(255, 253, 157);
   }
    25%{
        box-shadow: 0px -5px 50px 10px rgb(255, 253, 157);
   }
    45%{
        box-shadow: 0px -5px 75px 1px rgb(255, 253, 157);
   }
    60%{
        box-shadow: 0px -5px 100px 1px rgb(255, 252, 59);
   }
    75%{
        box-shadow: 0px -5px 75px 1px rgb(255, 253, 157);
   }
    100%{ 
        box-shadow: 0px -5px 50 px 1px rgb(255, 253, 157);
   }
}

@keyframes innerGlow{
    0% {
        box-shadow: inset 0px -5px 0px 1px rgb(255, 253, 157);
    }
    10%{
        box-shadow:  inset 0px -5px 20px 1px rgb(255, 253, 157);
   }
    25%{
        box-shadow: inset 0px -5px 50px 10px rgb(255, 253, 157);
   }
    45%{
        box-shadow: inset 0px -5px 75px 1px rgb(255, 253, 157);
   }
    60%{
        box-shadow: inset 0px -5px 100px 1px rgb(255, 252, 59);
   }
    75%{
        box-shadow: inset 0px -5px 75px 1px rgb(255, 253, 157);
   }
    100%{ 
        box-shadow: inset 0px -5px 50 px 1px rgb(255, 253, 157);
   }
}



@media (max-width: 499px) {



}